# 默认忽略的文件
/shelf/
/workspace.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project1_poker.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Cards/Padding.png
icon.ico
__pycache__/poker.cpython-38.pyc
__pycache__/pokerUI.cpython-38.pyc
__pycache__/process.cpython-38.pyc
report/report.aux
report/report.log
report/report.out
report/report.synctex.gz
report/report.tex
report/report.toc
report/images/deal.jpg
report/images/random_deal_task3.jpg
report/images/random_deal.jpg
report/images/specified_deal.jpg
report/images/start.jpg
report/images/task1_fin.jpg
report/images/task2_fin.jpg
report/images/task3_fin.jpg
report/images/task3.jpg
report/images/task12.jpg
