# 默认忽略的文件
/shelf/
/workspace.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project1_poker.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Cards/01.png
/Cards/02.png
/Cards/03.png
/Cards/04.png
/Cards/05.png
/Cards/06.png
/Cards/07.png
/Cards/08.png
/Cards/09.png
/Cards/10.png
/Cards/11.png
/Cards/12.png
/Cards/13.png
/Cards/14.png
/Cards/15.png
/Cards/16.png
/Cards/17.png
/Cards/18.png
/Cards/19.png
/Cards/20.png
/Cards/21.png
/Cards/22.png
/Cards/23.png
/Cards/24.png
/Cards/25.png
/Cards/26.png
/Cards/27.png
/Cards/28.png
/Cards/29.png
/Cards/30.png
/Cards/31.png
/Cards/32.png
/Cards/33.png
/Cards/34.png
/Cards/35.png
/Cards/36.png
/Cards/37.png
/Cards/38.png
/Cards/39.png
/Cards/40.png
/Cards/41.png
/Cards/42.png
/Cards/43.png
/Cards/44.png
/Cards/45.png
/Cards/46.png
/Cards/47.png
/Cards/48.png
/Cards/49.png
/Cards/50.png
/Cards/51.png
/Cards/52.png
/Cards/53.png
/Cards/54.png
/background.jpeg
/Cards/Padding.png
icon.ico
__pycache__/poker.cpython-38.pyc
__pycache__/pokerUI.cpython-38.pyc
__pycache__/process.cpython-38.pyc
Cards/1.png
Cards/2.png
Cards/3.png
Cards/4.png
Cards/5.png
Cards/6.png
Cards/7.png
Cards/8.png
Cards/9.png
report/report.aux
report/report.log
report/report.out
report/report.synctex.gz
report/report.tex
report/report.toc
report/images/deal.jpg
report/images/random_deal_task3.jpg
report/images/random_deal.jpg
report/images/specified_deal.jpg
report/images/start.jpg
report/images/task1_fin.jpg
report/images/task2_fin.jpg
report/images/task3_fin.jpg
report/images/task3.jpg
report/images/task12.jpg
